/* universal css */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #ececc2, #aebabe);
}


.btn-secondary,
.btn-outline-blue:hover,
.btn-secondary:hover {
    background-color: #b0b8bd;
    border: 1px solid #289BDE;
    color: white;
    padding: 10px 25px;
}

.btn-outline-blue {
    border: 1px solid #289BDE;
    color: #289BDE;
    padding: 10px 25px;
}

.bg-blue {
    background-color: #289BDE;
}

.fit-cover {
    object-fit: cover;
}

.readMoreBtn {
    width: 25%;
}


.social li a {
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .ellipsis {
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .explore.py-5 img {
        height: 100%;
        object-fit: cover;
    }

    .readMoreBtn {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .slider.py-2 img {
        height: 400px;
        object-fit: cover;
    }

    .w-80 {
        width: 80%;
    }
}